header
	a.header-button.icon(href="/expense")
		div back
	h1#header I Owe
div.stp-content-frame
	div.stp-content-body
		div.dashboard-txn.row
			.twelve.columns.mobile-four
				div.listHeader
					.eight.columns
						| People I Owe Money To
		div.row.dashboard-txn
			ul.block-grid.two-up.mobile
				li(ng-repeat="list in [{name:'Fred',amount:'$15'},{name:'Peter',amount:'$16'},{name:'Maung',amount:'$17'},{name:'Richard',amount:'$8'},{name:'Bob',amount:'$9'},{name:'Alice',amount:'$10'}]")
					div.list-container
						div.row
							div.mobile-two.columns.six
								h4
									| {{list.name}} 
									small
										i.icon-search
							div.mobile-one.columns.three
								.pay-actions
									h4
										| {{list.amount}}
							div.mobile-one.columns.three
								.pay-actions
									i.icon-money
									h5
										small
											| Pay
		div.row.dashboard-txn
			.six.columns.mobile-two
				div.dashboard-txn.pay-box
					.well
						| Total to Pay
						h3
							| $15.00
			.six.columns.mobile-two
				div.dashboard-txn.pay-box
					a.success.button
						| Pay Now

	