header
	a.header-button.icon.menu(href="javascript:void(0)",ng-click="menuClick()")
		span Menu
	h1#header I Owe

div.stp-content-frame(ng-init="initIOWE()")
	div.stp-content-body
		include alertBox
		div.row.dashboard
			.six.columns.mobile-two
				.header
					| I OWE
				.well.single-value
					| ${{iOweListTotalAmount}}
			.six.columns.mobile-two
				.header
					br
				.well.expense-action
					span.btn.btn-primary.btn-block(href="/expense/friends")
						.i.icon-exchange
							|  Go to Friends OWE
					a.btn.btn-success.btn-block(href="/expense")
						.i.icon-money
							|  Expenditures
		div.row
			// My list of activities
			.twelve.columns.mobile-four
				div.listHeader
					| Return Money To:
		div.row
			ul.block-grid.two-up.mobile
				li(ng-repeat="item in iOweLists")
					div.list-container.selectable(ng-click="selectedIOwe(item._id,item,$index,item.payee.amount,item.payee.userId)",style="padding:5px")
							div.row.expense-row
								div.mobile5-four.columns.six
									div.list-title {{item.payee.name}} 
										div
											span.item-header.small.first
												span.label.label-important {{item.payee.amount | currency:$}}
												span &nbsp;&nbsp;owed
								div.fgAction(style="margin-top:-10px;")
									div.action
										div
											i.icon-money.icon-2x
											div.small Pay&nbsp;&nbsp;&nbsp;

	