header
	a.header-button.icon.menu(href="javascript:void(0)",ng-click="menuClick()")
		span Menu
	h1#header Expense Summary
	div.header-menu-bar.right
		a.header-menu-button.icon(href="/payment/new")
			span
				i.icon-credit-card.icon-2x
div.stp-content-frame
	div.stp-content-body.container-fluid
		.span12
			| This view will show summary of expense , then show more details below
			ul.row-fluid
				li.span6(ng-repeat="expense in userExpense")
					div.list-container(ng-click="ExpenseDetail()")
						div.row
							div.left.list-name
								| {{expense.name}} -- ${{expense.amount}}
							div.right
								i.icon-chevron-right
	