header
	a.header-button.icon.menu(href="javascript:void(0)",ng-click="menuClick()")
		span Menu
	h1#header Friends Owe

div.stp-content-frame
	div.stp-content-body
		div.row.dashboard
			.six.columns.mobile-two
				.header
					br
				.well.expense-action
					a.btn.btn-primary.btn-block(href="/expense/details/1")
						.i.icon-exchange
							|  Go to I OWE
					a.btn.btn-success.btn-block(href="/expense")
						.i.icon-money
							|  Expenditures
			.six.columns.mobile-two
				.header
					| FRIENDS OWE
				.well.single-value
					| $50.00
		div.row.dashboard.navbox
			.twelve.columns.mobile-four
				.mobile-one.two.columns
					.clickable
						i.icon-circle-arrow-left.icon-2x
				.mobile-two.center.eight.columns
					|Till Today
				.mobile-one.right.two.columns
					.clickable
						i.icon-circle-arrow-right.icon-2x
		div.row
			// My list of activities
			.twelve.columns.mobile-four
				div.listHeader
					| Collect Money From:
		div.row
			ul.block-grid.two-up.mobile
				li(ng-repeat="list in friendsOweLists")
					div.list-container
							div.row
								div.mobile-two.columns.six
									h4
										| {{list.payer.name}} 
										small
											a.i.icon-user(href="/payment/details/1")
										h5
											small
												| {{list.period}}
								div.mobile-one.columns.three
									.pay-actions
										center
											h4
												| ${{list.payer.amount}}
											h5
												small
													| to collect
								div.mobile-one.columns.three
									.pay-actions

										center
											i.icon-envelope
											a.h5(ng-click="")
												small
													| Remind

	