header
	a.header-button.icon.menu(href="javascript:void(0)",ng-click="menuClick()")
		span Menu
	h1#header I Owe

				

div.stp-content-frame
	div.stp-content-body
		div.row.dashboard
			.six.columns.mobile-two
				.header
					| I OWE
				.well.single-value
					| ${{iOweListTotalAmount}}
			.six.columns.mobile-two
				.header
					br
				.well.expense-action
					a.btn.btn-primary.btn-block(href="/expense/friends")
						.i.icon-exchange
							|  Go to Friends OWE
					a.btn.btn-success.btn-block(href="/expense")
						.i.icon-money
							|  Expenditures
		div.row
			// My list of activities
			.twelve.columns.mobile-four
				div.listHeader
					| Return Money To:
		div.row
			ul.block-grid.two-up.mobile
				li(ng-repeat="list in iOweLists")
					div.list-container.selectable(ng-click="linkToiOweDetails(list._id)",style="padding:5px")
							div.row
								div.mobile5-three.columns.six(style="padding:5px")
									h4
										| {{list.payee.name}} 
										h5
											small
												| for {{list.period}}
								div.mobile5-one.columns.three
									.pay-actions
										center
											h4
												| ${{list.payee.amount}}
												h5
													small
														| owed
								div.mobile5-one.columns.three
									.pay-actions
										center
											i.icon-money
											h5
												small
													| Pay

													ul.block-grid.two-up.mobile

	