header
	a.header-button.icon.menu(href="javascript:void(0)",ng-click="menuClick()")
		span Menu
	h1#header I Owe

				

div.stp-content-frame
	div.stp-content-body
		div.row.dashboard
			.six.columns.mobile-two
				.header
					| I OWE
				.well.single-value
					| $100.00
			.six.columns.mobile-two
				.header
					br
				.well.expense-action
					a.btn.btn-primary.btn-block(href="/expense/friends")
						.i.icon-exchange
							|  Go to Friends OWE
					a.btn.btn-success.btn-block(href="/expense")
						.i.icon-money
							|  Expenditures

		div.row.dashboard.navbox
			.twelve.columns.mobile-four
				.mobile-one.two.columns
					.clickable
						i.icon-circle-arrow-left.icon-2x
				.mobile-two.center.eight.columns
					|Till Today
				.mobile-one.right.two.columns
					.clickable
						i.icon-circle-arrow-right.icon-2x
		div.row
			// My list of activities
			.twelve.columns.mobile-four
				div.listHeader
					| Return Money To:
		div.row
			ul.block-grid.two-up.mobile
				li(ng-repeat="list in [{name:'Fred',amount:'$15',period:'Feb 2013'},{name:'Peter',amount:'$16',period:'Feb 2013'},{name:'Maung',amount:'$17',period:'Feb 2013'},{name:'Richard',amount:'$8',period:'Feb 2013'},{name:'Bob',amount:'$9',period:'Dec 2012'},{name:'Alice',amount:'$10',period:'Mar 2013'},{name:'Ah Boy',amount:'$20',period:'Jan 2013'}]")
					div.list-container
						a(href="/payment/new")
							div.row
								div.mobile-two.columns.six
									h4
										| {{list.name}} 
										small
											i.icon-user
										h5
											small
												| for {{list.period}}
								div.mobile-one.columns.three
									.pay-actions
										center
											h4
												| {{list.amount}}
												h5
													small
														| owed
								div.mobile-one.columns.three
									.pay-actions
										center
											i.icon-money
											h5
												small
													| Pay

	