header
	a.header-button.icon.menu(href="javascript:void(0)",ng-click="menuClick()")
		span Menu
	h1#header Expense Summary

				

div.stp-content-frame
	div.stp-content-body
		div.row.dashboard
			.six.columns.mobile-two
				.header
					| I OWE
				.well.single-value
					| $100.00
					h5
						small
						a(href="expense/details/1")
							| view details
			.six.columns.mobile-two
				.header
					| FRIENDS OWE
				.well.single-value
					| $50.00
					h5
						small
						a(href="/expense/friends")
							| view details
		div.row.dashboard.navbox
			.twelve.columns.mobile-four
				.mobile-one.two.columns
					.clickable
						i.icon-circle-arrow-left.icon-2x
				.mobile-two.center.eight.columns
					|Till Today
				.mobile-one.right.two.columns
					.clickable
						i.icon-circle-arrow-right.icon-2x
		div.row
			// My list of activities
			.twelve.columns.mobile-four
				div.listHeader
					| Recent Activity
		div.row
			ul.block-grid.two-up.mobile
				li(ng-repeat="list in userExpense")
					div.list-container
						div.row.expense-row
							div.mobile-three.columns.eight
								h5
									| {{list.payer}} 
									small
										| has paid {{list.payee}} ${{list.amount}} for {{list.period}}
							div.mobile-one.columns.four
								.pay-actions
									h6
										| {{list.date}}

	