header
	a.header-button.icon.menu(href="javascript:void(0)",ng-click="menuClick()")
		span Menu
	h1#header Friends Owe

div.stp-content-frame(ng-init="initFriendsOwe()")
	div.stp-content-body
		include alertBox
		div.row.dashboard
			.six.columns.mobile-two
				.header
					br
				.well.expense-action
					a.btn.btn-primary.btn-block(href="/expense/details/1")
						.i.icon-exchange
							|  Go to I OWE
					a.btn.btn-success.btn-block(href="/expense")
						.i.icon-money
							|  Expenditures
			.six.columns.mobile-two
				.header
					| FRIENDS OWE
				.well.single-value.small
					| ${{friendsOweListTotalAmount}}

		div.row
			// My list of activities
			.twelve.columns.mobile-four
				div.listHeader
					| Collect Money From:
		div.row
			ul.block-grid.two-up.mobile
				li(ng-repeat="list in friendsOweLists")
					div.list-container.selectable
							div.row.expense-row(ng-click="linkToFriendsOweDetails(list._id)")
								div.mobile5-three.columns.six
									div.list-title {{list.payer.name}} 
										div
											span.item-header.small.first
												span {{list.payer.period}}
								div.mobile5-two.columns.three
									.pay-actions.text-right
										div.list-title ${{list.payer.amount}}
											div
												span.item-header.small to collect

	