header
	a.header-button.icon.menu(href="javascript:void(0)",ng-click="menuClick()")
		span Menu
	h1#header Friends Expenditure Summary
	div.header-menu-bar.right
		a.header-menu-button.icon(href="/list/create")
			span
				i.icon-plus.icon-2x
div.stp-content-frame
	div.stp-content-body.container-fluid
		.span12
			ul.row-fluid
				li.span6(ng-repeat="n in [1,2,3,4,5,6]")
					div.list-container(ng-click="ListDetails()")
						div.row
							div.left.list-name
								| Name {{n}}
							div.right
								i.icon-chevron-right
	