header
	a.header-button.icon.menu(href="javascript:void(0)",ng-click="menuClick()")
		span Menu
	h1#header My Expense Summary

//Kevin, can this page be split into two columns for the activities? One for iOwe and one for friendsOwe? I am going to scrape userExpense collection from the database

div.stp-content-frame
	div.stp-content-body
		include alertBox
		div.row.dashboard
			.six.columns.mobile-two
				.header
					| I OWE
				.well.single-value.selectable
					| ${{iOweListTotalAmount}}
					h5
						small
						a(href="expense/details/1")
							i.icon-eye-open
							|  view details
			.six.columns.mobile-two
				.header
					| FRIENDS OWE
				.well.single-value.selectable
					| ${{friendsOweListTotalAmount}}
					h5
						small
						a(href="/expense/friends")
							i.icon-eye-open
							|  view details
		div.row
			// My list of activities
			.twelve.columns.mobile-four
				div.listHeader
					| Recent Activities
		div.row
			ul.block-grid.two-up.mobile
				li(ng-repeat="list in transactions")
					div.list-container.selectable(ng-click="linkToTransHistory(list._id)")
						div.row.expense-row
							div.mobile5-five.columns.eight
								h5
									| {{list.payer.name}} 
									small
										| has paid {{list.payee.name}} ${{list.total}} on {{list.date}}.


	