header
	a.header-button.icon(href="/list/detail/")
			div back
	h1#header Add to list (items)
	div.header-menu-bar.right
		a.header-menu-button.icon(href="/list/1/additem/create")
			span
				i.icon-plus.icon-2x
		a.header-menu-button.icon(href="/list/detail")
			span
				i.icon-ok.icon-2x
div.stp-content-frame
	div.stp-content-body
		.row.non-list
			div.columns.six.mobile-four
				form
					.row
						div.mobile-four.twelve.columns.form-box
							div.input-append(style="width:90%;")
								input(type="text",name="friendemail",placeholder="Category/Item...",class="input-block-level firstBox",ng-model="friendemail",maxlength="25")
								button.btn(type="button",ng-click="friendemail = ''")
									i.icon-search
		div.row
			// My list of activities
			.twelve.columns.mobile-four
				div.listHeader
					| Cat 1
		div.row
			ul.block-grid.two-up.mobile
				li(ng-repeat="n in itemList")
					div.list-container.selectable(ng-click="ToggleSelect(n)")
						div.row
							div.mobile5-four.columns.nine.list-name
								
								div.item-title.large {{n.name}}
								br
								div.item-title.uom
									{{n.price | currency:"$"}} / {{getUnitOfMeasure(n.unitOfMeasure)}}
							div.columns.three.mobile5-one.text-right
								div.checkbox
									i(ng-class="isSelected(n)").icon-large
	
