header
	a.header-button.icon(href="/list/detail/")
			div back
	h1#header Add to list (items)
	div.header-menu-bar.right
		a.header-menu-button.icon(href="/list/1/additem/create")
			span
				i.icon-plus.icon-2x
		a.header-menu-button.icon(href="/list/detail")
			span
				i.icon-ok.icon-2x
div.stp-content-frame
	div.stp-content-body.container-fluid
		.span12
			form
				ul.row-fluid
					li.span6(ng-repeat="n in ['apple','orange','pear','banana','papaya','pineapple']")
						div.list-container(ng-click="ItemDetails()")
							div.row
								div.left.list-name
									input(type="checkbox") 
									span \#{{$index + 1}} {{n}}
								div.right
									i.icon-chevron-right
	