header
	a.header-button.icon(href="/list/1/additem")
			div back
	h1#header Edit Item
	div.header-menu-bar.right
		a.header-menu-button.icon(href="/list/1/additem")
			span
				i.icon-ok.icon-2x
div.stp-content-frame
	div.stp-content-body.container-fluid
		.span6
			div
				p
				|	Shows Item details including ability to set the price, description for the item
				p
				| Create new item and edit item should share the same view.
				p
				| Initial database will be taken from the server, and stored locally for personal reference
	