header
	a.header-button.icon(href="/list/1/additem")
			div back
	h1#header Edit Item
	div.header-menu-bar.right
		a.header-menu-button.icon(href="/list/1/additem")
			span
				i.icon-ok.icon-2x
div.stp-content-frame
	div.stp-content-body
		form
			.row.non-list
				div.columns.six.mobile-four
					input(type="text",name="itemname",placeholder="Item name",value="{{item.name}}",class="input-block-level")
					
					textarea(name="itemdesc",placeholder="Description",value="Brand XXX Super Powderful Detergent.",class="input-block-level",rows="3")

					input(type="text",class="input-block-level",placeholder="Type category here...",ng-model="item.category", bs-typeahead="typeahead")
					//-
						div.quantity-control.row
							div.columns.three.mobile-one.text-right
								span.btn(ng-click="item.qty= item.qty - 1")
									i.icon-minus
							div.columns.six.mobile-two.center
								div.well.well-small {{item.qty}} 
									ng-pluralize(count="item.qty",when="{'one' : unitOfMeasure[item.unitOfMeasure].singular, 'other' : unitOfMeasure[item.unitOfMeasure].plural}")
							div.columns.three.mobile-one.text-left
								span.btn(ng-click="item.qty= item.qty + 1")
									i.icon-plus

