header
	a.header-button.icon(href="/list/additem")
			div back
	h1#header Add Item
	div.header-menu-bar.right
		a.header-menu-button.icon(href="javascript:void(0)")(ng-click="createNewItem(item)")
			span
				i.icon-ok.icon-2x
div.stp-content-frame
	div.stp-content-body(ng-init="initCreateNewItem()")
		include alertBox
		form
			.row.non-list
				div.columns.six.mobile-four
					input(type="text",name="itemname",placeholder="Item name",ng-model="item.name",class="input-block-level")

					div.input-prepend
						span.add-on $
						input(type="text",placeholder="5.00",maxlength="25", ng-model="item.price")
					
					textarea(name="itemdesc",placeholder="Description",class="input-block-level",rows="3",ng-model="item.description")
					select.select-block-level(ng-model="item.category", ng-options="cat for cat in typeahead")
					select.select-block-level(ng-model="item.unitOfMeasure")
						option(value="-1") Select Unit of Measure
						option(ng-repeat="uom in unitOfMeasure", value="{{$index}}") {{uom.singular}}
					

					span.btn.btn-primary.btn-block add item


