header
	a.header-button.icon.menu(href="javascript:void(0)",ng-click="menuClick()")
		span Menu
	h1#header Lists
	div.header-menu-bar.right
		a.header-menu-button.icon(href="/list/create")
			span
				i.icon-plus.icon-2x
div.stp-content-frame(ng-init="initList()")
	div.stp-content-body
		div.row
			ul.block-grid.two-up.mobile
				li(ng-repeat="list in lists")
					div.list-container.selectable(ng-click="ListDetails(list._id)")
						div.row
							div.mobile-two.columns.six.list-name
								div.list-title {{list.name}}
							div.mobile-two.columns.six
								div.list-desc
									span.label-header Items
									span.label.label-info
										span {{list.numItems}} 
										i.icon-tags
								div.list-desc
									span.label-header Friends
									span.label
										span {{list.numFriends}}  
										i.icon-group
				li.buffer
				li(ng-show="noList()")
					div
						| Start by creating your list now!
//-
	div.stp-content-footer
		div.row
			dir.twelve.columns.mobile-four
				| This is a footer
				span.btn hi
