header
	a.header-button.icon(href="javascript:void(0)")(ng-click="backToList()")
			div back
	h1#header {{listName}}
	div.header-menu-bar.right
		a.header-menu-button.icon(href="/list/1/option")
			span
				i.icon-cog.icon-2x
		a.header-menu-button.icon(href="/list/1/additem")
			span
				i.icon-plus.icon-2x
div.stp-content-frame(ng-init="initListDetail()")
	div.stp-content-body
		div.row
			div.columns.twelve.centered.mobile-four.text-center
				.well.well-small.no-bottom-margin.well-darker
					span.btn.btn-info.btn-long(ng-click="StartShopping()")
						i.icon-shopping-cart
						| &nbsp;&nbsp;Shop for this List
		div.row
			ul.block-grid.two-up.mobile
				li(ng-repeat="item in items")
					div.list-container
						div.row
							div.mobile5-three.columns.six.list-name.tight
								div.row
									div.two.columns.mobile5-one
										span.badge.badge-info.badge-large
											i.icon-user
									div.item-title.ten.columns.mobile5-four
										{{item.brand}} {{item.name}}
							
							div.mobile5-two.columns.six.nopad.right.text-right
								span.item-desc {{item.qty}} 
									ng-pluralize(count="item.qty",when="{'one' : unitOfMeasure[item.unitOfMeasure].singular, 'other' : unitOfMeasure[item.unitOfMeasure].plural}")
								span.action(ng-click="ListItemDetail(item,$index)")
									i.icon-edit
	