header
	a.header-button.icon(href="/list/detail/")
			div back
	h1#header Spin Washing Machine Powder
	div.header-menu-bar.right
		a.header-menu-button.icon(href="/list/detail")
			span
				i.icon-ok.icon-2x
div.stp-content-frame
	div.stp-content-body
		form
			.row.non-list
				div.columns.six.mobile-four
					input(type="text",name="itemname",placeholder="Item name",value="Detergent",class="input-block-level")
					
					textarea(name="itemdesc",placeholder="Description",value="Brand XXX Super Powderful Detergent.",class="input-block-level",rows="3")

					input(type="text",class="input-block-level",placeholder="Type category here...",ng-model="item.category", bs-typeahead="typeahead")

					div.quantity-control.row
						div.columns.three.mobile-one.right
							span.btn(ng-click="count= count - 1")
								i.icon-minus
						div.columns.six.mobile-two.center
							div.well.well-small {{count || 0}}
						div.columns.three.mobile-one.left
							span.btn(ng-click="count= count + 1")
								i.icon-plus


			



	