header
	a.header-button.icon(href="/list")
			div back
	h1#header Housemates List
	div.header-menu-bar.right
		a.header-menu-button.icon(href="/list/1/option")
			span
				i.icon-cog.icon-2x
		a.header-menu-button.icon(href="/list/1/additem")
			span
				i.icon-plus.icon-2x
div.stp-content-frame
	div.stp-content-body.container
		.span12
			ul.row-fluid
				li.span6(ng-repeat="item in items")
					div.list-container(ng-click="ListItemDetail()")
						div.row
							div.left.list-name
								| span {{item.name}}  -  {{item.quantity}}
							div.right
								i.icon-chevron-right
	