header
	a.header-button.icon(href="/list/1/")
			div back
	h1#header Item
	div.header-menu-bar.right
		a.header-menu-button.icon(href="/list/1")
			span
				i.icon-ok.icon-2x
div.stp-content-frame
	div.stp-content-body.container-fluid
		.span12
			| Item details form
	