header
	a.header-button.icon(href="javascript:void(0)")(ng-click="backToListDetail()")
			div back
	h1#header {{item.name}}
	div.header-menu-bar.right
		a.header-menu-button.icon(href="javascript:void(0)")(ng-click="saveListItemDetail(item,index)")
			span
				i.icon-ok.icon-2x
div.stp-content-frame
	div.stp-content-body(ng-init="initListItemDetail()")
		form
			.row.non-list
				div.columns.six.mobile-four
					input(type="text",name="itemname",placeholder="Item name",ng-model="item.name",class="input-block-level")
					textarea(name="itemdesc",placeholder="Description",ng-model="item.description",class="input-block-level",rows="3")
					input(type="text",class="input-block-level",placeholder="Type category here...",ng-model="item.category")

					
					select.select-block-level
						option(ng-repeat="cat in categories", value="{{cat.value}}") {{cat.name}}
					div.btn-group(ng-model="radioValue", bs-buttons-radio)
						button(type="button", class="btn", value="left", ng-class="classShareType('individual')",ng-click="toggleShareType()") Individual
						button(type="button", class="btn", value="middle", ng-class="classShareType('share')",ng-click="toggleShareType()") Shared

					div.quantity-control.row
						div.columns.three.mobile-one.text-right
							span.btn(ng-click="item.qty= item.qty - 1")
								i.icon-minus
						div.columns.six.mobile-two.center
							div.well.well-small {{item.qty}} 
								ng-pluralize(count="item.qty",when="{'one' : unitOfMeasure[item.unitOfMeasure].singular, 'other' : unitOfMeasure[item.unitOfMeasure].plural}")
						div.columns.three.mobile-one.text-left
							span.btn(ng-click="item.qty= item.qty + 1")
								i.icon-plus
					span.btn.btn-success.btn-block save
					span.btn.btn-danger.btn-block delete

			



	