header
	a.header-button.icon(href="/list/detail/")
		div back
	h1#header List Option
	div.header-menu-bar.right
		a.header-menu-button.icon(href="javascript:void(0)")(ng-click="saveListSetting(listSetting)")
			span
				i.icon-ok.icon-2x
div.stp-content-frame
	div.stp-content-body(ng-init="initListSettings()")
		form
			.row.non-list
				div.columns.six.mobile-four
					label Please provide list name
					.row
						div.mobile-four.twelve.columns
							div.text-count
								span.right(ng-bind="textCountLeft(listSetting.name.length,25)")
							div.input-append(style="width:90%;")
								input(type="text",name="name",placeholder="Type list name here...",class="input-block-level firstBox",maxlength="25",,ng-model="listSetting.name")
								button.btn(type="button",ng-click="listSetting.name = ''")
									i.icon-remove
			div.row
				// My list of activities
				.twelve.columns.mobile-four
					div.listHeader
						| Friends 
			.row.non-list
				div.columns.six.mobile-four
					form
						label Please provide friends email
						.row
							div.mobile-four.twelve.columns
								div.input-append(style="width:90%;")
									input(type="text",name="friendemail",placeholder="Type Friends Email...",class="input-block-level firstBox",ng-model="friendemail",maxlength="50")
									button.btn(type="button",ng-click="friendemail = ''") 
										i.icon-remove
								button.btn(type="button",ng-click="friendemail = ''") 
									i.icon-ok
			div.row
				// My list of activities
				.twelve.columns.mobile-four
					div.listHeader
						| Friends List
			div.row
				ul.block-grid.two-up.mobile
					li(ng-repeat="user in listSetting.users")
						div.list-container
							div.row
								div.mobile-two.columns.six.list-name
									div.email-title {{user.name}} - {{user.email}}
								div.mobile-two.columns.six.nopad.right.text-right
									span.email-desc
										span.label(ng-class="getStatusClass(user.status)")
											span {{user.status}}
									span.action(ng-click="alert('remove')")
										i.icon-remove
			span.btn.btn-danger.btn-block(ng-click="delete(listSetting)") delete
