header
	a.header-button.icon(href="/list/create")
		div back
	h1#header Add Friends
	a.header-button.icon.right(href="javascript:void(0)")(ng-click="createNewList(listSetting)")
		div create
div.stp-content-frame
	div.stp-content-body(ng-init="initNewListFriends()")	
		include alertBox
		.row.non-list
			div.columns.six.mobile-four
				form
					label Please provide friend's email
					.row
						div.mobile-four.twelve.columns
							div.input-append(style="width:75%;")
								input(type="text",name="friendemail",placeholder="Type Friends Email...",class="input-block-level firstBox",ng-model="friendemail",maxlength="50")
								button.btn(type="button",ng-click="friendemail = ''") 
									i.icon-remove
								button.btn(type="button",ng-click="addFriendToList(friendemail)",class="btn-primary",style="margin-left:-1px;width:75px") 
									i.icon-ok

		div.row
			// My list of activities
			.twelve.columns.mobile-four
				div.listHeader
					| Friends
		div.row
			ul.block-grid.two-up.mobile
				li(ng-repeat="friend in listSetting.users")
					div.list-container
						div.row
							div.mobile-two.columns.six.list-name
								div.email-title {{friend.email}}
							div.mobile-two.columns.six.nopad.right.text-right
								span.email-desc
									span.label(ng-class="getStatusClass(friend.status)")
										span {{friend.status}}
								span.action(ng-click="deleteFriendFromList($index)")
									i.icon-remove