header
	a.header-button.icon(href="javascript:void(0)")(ng-click="backToList()")
			div back
	h1#header {{listName}}
	div.header-menu-bar.right
		a.header-menu-button.icon(href="/list/settings")
			span
				i.icon-cog.icon-2x
		a.header-menu-button.icon(href="/list/1/additem")
			span
				i.icon-plus.icon-2x
div.stp-content-frame(ng-init="initListDetail()")
	div.stp-content-body
		div.row
			div.columns.twelve.centered.mobile-four.text-center
				.well.well-small.no-bottom-margin.well-darker
					span.btn.btn-info.btn-long(ng-click="StartShopping(list_id)")
						i.icon-shopping-cart
						| &nbsp;&nbsp;Shop for this List
		div.row
			ul.block-grid.two-up.mobile
				li(ng-repeat="item in items")
					div.list-container
						div.row.list-name-box
							div.mobile5-three.columns.eight.list-name
								div.item-title {{item.name}}
								div.item-desc2
									span {{item.qty}}
									span.uom
										ng-pluralize(count="item.qty",when="{'one' : unitOfMeasure[item.unitOfMeasure].singular, 'other' : unitOfMeasure[item.unitOfMeasure].plural}")
									span.status
										i(ng-class="getSharedStatus(item)")
							div.mobile5-two.columns.columns.four.text-right
								div.action
									div(ng-click="ListItemDetail(item,$index)")
										i.icon-edit.icon-2x
										div.small edit&nbsp;&nbsp;&nbsp;
	