form
	div.stp-content-frame
		div.stp-content-body
			div.misc-container.center
				div
					input(type="text",id="user-email",name="user-email",ng-model="user.email",class="input-block-level", placeholder="Email")
					a.btn.btn-primary.btn-block(href="/") Submit