form
	div.stp-content-frame
		div.stp-content-body
			div.misc-container.center
				div
					img(src="http://placehold.it/300x300")
				div
					span.btn.btn-primary.btn-block(ng-click="loadRegisterPage()") Register
					span.btn.btn-block(ng-click="loadLoginPage()") Login