header
	a.header-button.icon(href="/expense/friends")
		div Back
		span Menu
	h1#header Payment History

div.stp-content-frame
	div.stp-content-body
		div.row.dashboard
			.six.columns.mobile-two
				.header
					h2(style="text-align:left")
						| Fred
				.well.single-value
					i.icon-user
						|  user photo
			.six.columns.mobile-two
				.header
					h3
						small
							| Amount Owed To You
				.well.single-value
					h2(style="font-size:40pt; padding:3px")
						| $15
		div.row.dashboard.navbox
			.twelve.columns.mobile-four
				.mobile-one.two.columns
					.clickable
						i.icon-circle-arrow-left.icon-2x
				.mobile-two.center.eight.columns
					|Till Today
				.mobile-one.right.two.columns
					.clickable
						i.icon-circle-arrow-right.icon-2x

		div.row
			// My list of activities
			.twelve.columns.mobile-four
				div.listHeader
					| Payment Activity
		div.row
			ul.block-grid.two-up.mobile
				li(ng-repeat="list in [{name:'Fred',message:'paid $15 to you for Jan 2013',date:'26/02/2013'},{name:'Fred',message:'spent $15 for you for Jan 2013',date:'26/02/2013'},{name:'Fred',message:'paid $60 to you for Dec 2012',date:'26/02/2013'},{name:'Fred',message:'spent $15 for you for Jan 2013',date:'26/02/2013'},{name:'Fred',message:'paid $15 to you for Jan 2013',date:'26/02/2013'},{name:'Fred',message:'paid $15 to you for Jan 2013',date:'26/02/2013'}]")
					div.list-container
						a(href="/payment/transaction")
							div.row
								div.mobile-three.columns.eight
									h5
										| {{list.name}} 
										small
											| has {{list.message}}
								div.mobile-one.columns.four
									.pay-actions
										h6
											| {{list.date}}