header
	a.header-button.icon(href="/expense/details/1")
		div Back
		span Menu
	h1(ng-init="getiOweDetails()")
		| Payment to {{iOweName}}


div.stp-content-frame
	div.stp-content-body
		include alertBox
		div.row.dashboard
			.six.columns.mobile-two
				.header
					| Pay {{iOweName}}
				.well.single-value
					h2
						| ${{iOweTotalAmount}}
			.six.columns.mobile-two
				.header
					br
				.well.expense-action
					h3
						| {{today}}
					a.btn.btn-primary.btn-block(ng-click="payNow(iOweItems)")
						| Pay Now
		div.row
			// My list of activities
			.twelve.columns.mobile-four
				div.listHeader
					| What You Owe:
		div.row
			ul.block-grid.two-up.mobile
				li(ng-repeat="item in iOweItems")
							div.row
								div.mobile-two.columns.ten
									h4
										| {{item.name}} 
									h5
										small
											| {{iOwePeriod}}
								div.mobile-two.columns.two
									.pay-actions
											h3(style="text-align:right; vertical-align:middle")
												| ${{item.amount}}
											

	