header
	a.header-button.icon(href="/expense/details/1")
		div Back
		span Menu
	h1
		| Payment to Fred


div.stp-content-frame
	div.stp-content-body
		div.row.dashboard
			.six.columns.mobile-two
				.header
					| Pay Fred
				.well.single-value
					h2
						| $15
			.six.columns.mobile-two
				.header
					br
				.well.expense-action
					h3
						| {{today}}
					a.btn.btn-primary.btn-block(href="/payment/confirmation")
						| Pay Now
		div.row
			// My list of activities
			.twelve.columns.mobile-four
				div.listHeader
					| What You Owe:
		div.row
			ul.block-grid.two-up.mobile
				li(ng-repeat="list in [{item:'Fish',brand:'NA',amount:'$10',period:'Feb 2013'},{item:'Chicken',brand:'NA',amount:'$5',period:'Feb 2013'},{item:'Spread',brand:'Nutella',amount:'$5',period:'Dec 2012',type:'Shared'}]")
					div.list-container(style="padding: 5px")
							div.row
								div.mobile-two.columns.ten
									h4
										| {{list.item}} 
									h5
										small
											| {{list.period}}
								div.mobile-two.columns.two
									.pay-actions
											h3(style="text-align:right; vertical-align:middle")
												| {{list.amount}}
											

	