header
	a.header-button.icon(href="/expense/friends")
		div Back
		span Menu
	h1#header Payment History

div.stp-content-frame(ng-init="getFriendsOweDetails()")
	div.stp-content-body
		include alertBox
		div.row.dashboard(style="margin: 10px 0;")
			.six.columns.mobile-two
				img.img-polaroid(src="{{friendsOweImageUrl}}")
			.six.columns.mobile-two
				.header.text-center(style='font-size:1.1em;font-weight:bold;')
					| {{friendsOweName}}
				div.text-center(style="font-size:0.8em;")
					| Amount Owed To You
				.well.single-value.small
					| ${{friendsOweTotalAmount}}

		div.row
			// My list of activities
			.twelve.columns.mobile-four
				div.listHeader
					| Items Owed by Friend:
		div.row
			ul.block-grid.two-up.mobile
				li(ng-repeat="item in friendsOweItems")
					div.list-container
							div.row.expense-row
								div.mobile5-three.columns.six
									div
										span.item-header.small.first
											span {{item.payer}}
									div.list-title {{item.name}} 
										div
											span.item-header.small.first
												span {{item.period}}
								div.mobile5-two.columns.three
									.pay-actions.text-right
										div.list-title {{item.price | currency:$}}
											div
												span.item-header.small to collect
