header
	a.header-button.icon(href="/expense/details/1")
		div Back
		span Menu
	h1(ng-init="getiOweDetails()")
		| Payment to {{iOweName}}


div.stp-content-frame
	div.stp-content-body
		include alertBox
		div.row.dashboard
			.six.columns.mobile-two
				.header
					| Pay {{iOweName}}
				.well.single-value {{iOweTotalAmount | currency:$}}
			.six.columns.mobile-two
				.header
					br
				.well.expense-action(style="font-size:1.2em;")
					| {{today | date:'dd-MMMM-yyyy'}}
				a.btn.btn-primary.btn-block(ng-click="payNow(iOweItems)")
					| Pay Now
		div.row
			// My list of activities
			.twelve.columns.mobile-four
				div.listHeader
					| What You Owe:
		div.row
			ul.block-grid.two-up.mobile
				li(ng-repeat="item in iOweItems")
					div.list-container.selectable
						div.row.expense-row
							div.mobile5-three.columns.six
								div.list-title {{item.name}} 
									div
										span.item-header.small.first
											span  {{iOwePeriod}}
							div.mobile5-two.columns.six
									.pay-actions.text-right
										div.list-title {{item.price | currency:$}}
											

	