header
	a.header-button.icon.menu(href="javascript:void(0)",ng-click="menuClick()")
		span Menu
	h1#header Payment Successful!

div.stp-content-frame
	div.stp-content-body
		include alertBox
		div.row.dashboard
			.twelve.columns.mobile-four
				center
					h2
						small
							| You have successfully paid:
					p
						h2
							| {{iOwePayee}}
					p
						h2
							| ${{iOweFinalAmountPaid}}
					p
						a.btn.btn-primary.btn-large(href="/expense")
							i.icon-reply
							|  Return to Expenses