form
	header
		a.header-button.icon.menu(href="javascript:void(0)",ng-click="menuClick()")
			span Menu
		h1#header New Payment
		a.header-button.icon.right(href="/payment/confirmation")
			div next
	div.stp-content-frame
		div.stp-content-body.container-fluid		
			.span6
				This page will get user input in amount to pay and friend's paypal account. Proceeding next will bring user to paypal for authentication and authorization. The following page will be confrmation page.