header
	a.header-button.icon(href="/payment/new")
		div Back
		span Menu
	h1#header Confirm Payment

div.stp-content-frame
	div.stp-content-body
		div.row.dashboard
			.six.columns.mobile-two
				.header
					h4(style="text-align:left")
						| Payment To:
				.well.single-value
					i.icon-user.icon-2x
					h5
						small
							| Fred
					h5
						small
						a(href="expense/details/1")
			.six.columns.mobile-two
				.header
					h4
						small
							| Amount Paying
				.well.single-value(style="margin-bottom:2px")
					h2
						| $15
				a.btn.btn-primary.btn-block(href="/payment/confirmation/paid")
					i.icon-check
					|  Confirm & Pay
		div.row
			// My list of activities
			.twelve.columns.mobile-four
				div.listHeader
					| Items Paying For:
		div.row
			ul.block-grid.two-up.mobile
				li(ng-repeat="list in [{item:'Fish',brand:'NA',amount:'$10',period:'Feb 2013'},{item:'Chicken',brand:'NA',amount:'$5',period:'Feb 2013'}]")
					div.list-container.selectable(style="padding: 5px")
							div.row
								div.mobile-two.columns.six
									h4
										| {{list.item}} 
									h5
										small
											| {{list.period}}
								div.mobile-one.columns.three
									.pay-actions
										center
											h3
												| {{list.amount}}

								div.mobile-one.columns.three
									.pay-actions
										center
											i.icon-remove.icon-2x
											h5
												small
													| Remove
			
