header
	a.header-button.icon.menu(href="javascript:void(0)",ng-click="menuClick()")
		span Menu
	h1#header Shopping Trips Made

div.stp-content-frame
	div.stp-content-body
		div.row
			.six.columns.mobile-two(style="padding:10px")
				span(style="vertical-align: middle")
					center
						a.btn.btn-success.btn-block
							i.icon-user
								|  MY TRIPS
			.six.columns.mobile-two(style="padding:10px")
				span(style="vertical-align: middle")
					center
						a.btn.btn-primary.btn-block
							i.icon-group
								|  FRIEND'S TRIPS
		div.row
			.twelve.columns.mobile-four
				div.listHeader
					| All Trips Made:

		div.row
			ul.block-grid.two-up.mobile
				li(ng-repeat="trip in trips | filter:tripFilter")
					div.list-container
						div.row.expense-row
							div.mobile5-four.columns.eight
								h5
									| &nbsp;{{trip.name}} 
									small
										| spent ${{trip.amount}} at {{trip.Location}}
							div.mobile5-one.columns.four
								.pay-actions
									h6
										small
											| {{trip.date}}
