header
	a.header-button.icon.menu(href="javascript:void(0)",ng-click="menuClick()")
		span Menu
	h1#header Consolidated List
	div.header-menu-bar.right
		a.header-menu-button.icon(href="/shopping/checkout")
			span
				i.icon-shopping-cart.icon-2x
div.stp-content-frame
	div.stp-content-body.container-fluid
		include alertBox
		.span12
			form
				ul.row-fluid
					li.span6(ng-repeat="item in items.items")
						div.list-container
							div.row
								div.left.list-name
									input(type="checkbox") 
									span {{item.name}}  -  {{item.quantity}}
								div.right
									i.icon-chevron-right
	