header
	a.header-button.icon.menu(href="javascript:void(0)",ng-click="menuClick()")
		span Menu
	h1#header Friends' Trips

div.stp-content-frame
	div.stp-content-body
		include alertBox
		div.row
			.six.columns.mobile-four(style="padding:10px")
					center
						div.btn-group
							a.btn.btn-mini.btn-success(href="/shopping/my")
								i.icon-user
									|  MY TRIPS
							a.btn.btn-mini.btn-primary.disabled(href="javascript:void(0)")
								i.icon-group
									|  FRIEND'S TRIPS
							a.btn.btn-mini.btn-warning(href="/shopping/trips")
								i.icon-group
									|  ALL TRIPS
		div.row
			.twelve.columns.mobile-four
				div.listHeader
					| Trips Made by Friends:
		div.row
			ul.block-grid.two-up.mobile
				li(ng-repeat="trip in trips | filter:friendsTrips")
					div.list-container.selectable
						div.row.expense-row
							div.mobile5-four.columns.eight
								h5
									| &nbsp;{{trip.name}} 
									small
										| spent ${{trip.amount}} at {{trip.Location}}
							div.mobile5-one.columns.four
								.pay-actions
									h6
										small
											| {{trip.date}}

