header
	a.header-button.icon(href="/list")
		div back
	h1#header Lists
	div.header-menu-bar.right
		a.header-menu-button.icon(href="javascript:void(0)")(ng-click="shoppingMode()")
			span
				i.icon-ok.icon-2x
div.stp-content-frame(ng-init="initList()")
	div.stp-content-body
		div.row
			ul.block-grid.two-up.mobile
				li(ng-repeat="list in lists")
					div.list-container.selectable(ng-click="toggleSelectList(list._id)")
						div.row
							div.mobile5-three.columns.six.list-name
								div.list-title
									i.icon-2x(ng-class="listIsSelected(list._id)")
									span {{list.name}}
							div.mobile5-two.columns.six.list-info
								div.list-desc
									span.label-header Items
									span.label.label-info
										span {{list.numItems}} 
										i.icon-tags
								div.list-desc
									span.label-header Friends
									span.label.label-success
										span {{list.numFriends}}  
										i.icon-group