header
	a.header-button.icon(href="javascript:void(0)")(ng-click="backToShopping()")
		div back
	h1#header Shopping Checkout
div.stp-content-frame(ng-init="initShoppingCheckout()")
	div.stp-content-body
		include alertBox
		.row.non-list.dashboard
			.six.columns.mobile-two
				.header
					| Calculated Total
				.well.single-value
					| {{total= getTotal() | currency:$}}
			.six.columns.mobile-two
				.header
					Actual Total ($)
				.well.expense-action
					div(style="margin-bottom:15px;")
						input(class="input-block-level text-right", value="50")
					a.btn.btn-primary.btn-block(ng-click="checkoutNow(items)")
						.i.icon-save
							|  Save
		div.row
			// My list of activities
			.twelve.columns.mobile-four
				div.listHeader
					| Cart Items
		div.row
			ul.block-grid.two-up.mobile
				li(ng-repeat="item in items")
					div.list-container
						div.row.list-name-box
							div.mobile5-three.columns.eight.list-name
								div.item-title {{item.name}}
								div.item-desc2
									input(ng-model="item.qty",class="item-quantity-input")
									span.uom
										ng-pluralize(count="item.qty",when="{'one' : unitOfMeasure[item.unitOfMeasure].singular, 'other' : unitOfMeasure[item.unitOfMeasure].plural}")
									span.status
										i.icon-group
							div.mobile5-two.columns.columns
								div.update-box.text-right
									div.update-header.label item total ($)
									div 
										input(class="input-block-level",ng-change="adjust(item)",ng-model="item.total")