header
	a.header-button.icon(href="/list")
		div back
	h1#header Lists
	div.header-menu-bar.right
		a.header-menu-button.icon(href="javascript:void(0)")(ng-click="shoppingMode()")
			span
				i.icon-ok.icon-2x
div.stp-content-frame(ng-init="initList()")
	div.stp-content-body
		include alertBox
		div.row
			ul.block-grid.two-up.mobile
				li(ng-repeat="list in lists")
					div.list-container.selectable(ng-click="toggleSelectList(list._id)")
						div.row
							div.mobile5-five.columns.six.list-name
								div.list-title {{list.name}}
								div
									span.item-header.small.first
										i.icon-tags
										span 
											| Items&nbsp;&nbsp;
											span.badge.badge-info {{list.numItems}} 
									span.item-header.small 
										i.icon-group
										span 
											| Friends&nbsp;&nbsp;
											span.badge.badge-important {{list.numFriends}} 
							div.bgIcon
								i.icon-large(ng-class="listIsSelected(list._id)")