header
	a.header-button.icon.menu(href="javascript:void(0)",ng-click="menuClick()")
		span Menu
	h1#header All Trips

div.stp-content-frame(ng-init="initShoppingTripHistory()")
	div.stp-content-body
		include alertBox
		div.row
				.six.columns.mobile-four(style="padding:10px")
						center
							div.btn-group
								a.btn.btn-mini.btn-success(href="/shopping/my")
									i.icon-user
										|  MY TRIPS
								a.btn.btn-mini.btn-primary(href="/shopping/friends")
									i.icon-group
										|  FRIEND'S TRIPS
								a.btn.btn-mini.btn-warning.disabled(href="javascript:void(0)")
									i.icon-group
										|  ALL TRIPS
							
		div.row
			.twelve.columns.mobile-four
				div.listHeader
					| All Trips Made: 

		div.row
			ul.block-grid.two-up.mobile
				li(ng-repeat="trip in trips | filter:tripFilter")
					div.list-container.selectable(ng-click="gototrip(trip._id)")
						div.row.expense-row
							div.mobile5-two.columns.six
								div.list-title Made by {{trip.name}} 
									div
										span.item-header.small.first
											span  {{trip.date | date:'dd/MM/yyyy'}}
							div.mobile5-three.columns.six
									.pay-actions.text-right
										div.list-title {{trip.amount | currency:$}}
											div
												span.item-header.small 
													i.icon-map-marker
													| {{trip.Location}}
