header
	a.header-button.icon(href="/payment/details/1")
		div Back
		span Menu
	h1#header Transaction History

div.stp-content-frame(ng-init="getTransactionDetails()")
	div.stp-content-body
		div.row.dashboard
			.six.columns.mobile-two
				.header
					h3
						| Payment To:
				.well.single-value
					i.icon-user.icon-2x
					h4
						| {{transactionDetails[0].payee}}
			.six.columns.mobile-two
				.header
					h3
						| Paid By:
				.well.single-value
					i.icon-user.icon-2x
					h4
						| {{transactionDetails[0].payer}}
		div.row.dashboard.navbox
			.twelve.columns.mobile-four
				.mobile-one.two.columns
					.clickable
						i.icon-circle-arrow-left.icon-2x
				.mobile-two.center.eight.columns
					|Till Today
				.mobile-one.right.two.columns
					.clickable
						i.icon-circle-arrow-right.icon-2x
		div.row
			// My list of activities
			.twelve.columns.mobile-four
				div.listHeader
					| Items Paying For:
		div.row
			ul.block-grid.two-up.mobile
				li(ng-repeat="list in transactionDetails")
					div.list-container
						a(href="#")
							div.row
								div.mobile-two.columns.six
									h5
										small
											| {{list.payer}}
									h4
										| {{list.item}} 
										small
											i.icon-search
									h5
										small
											| {{list.period}}
								div.mobile-one.columns.three
									.pay-actions
										center
											h2
												| {{list.amount}}

								div.mobile-one.columns.three
									.pay-actions
										center
											i.icon-remove.icon-2x
											h5
												small
													| Remove