header
	a.header-button.icon(href="/payment/details/1")
		div Back
		span Menu
	h1#header Transaction History

div.stp-content-frame
	div.stp-content-body
		div.row.dashboard
			.six.columns.mobile-two
				.header
					h3
						| Payment To:
				.well.single-value
					i.icon-user.icon-2x
					h4
						| You
			.six.columns.mobile-two
				.header
					h3
						| Paid By:
				.well.single-value
					i.icon-user.icon-2x
					h4
						| Fred
		div.row.dashboard.navbox
			.twelve.columns.mobile-four
				.mobile-one.two.columns
					.clickable
						i.icon-circle-arrow-left.icon-2x
				.mobile-two.center.eight.columns
					|Till Today
				.mobile-one.right.two.columns
					.clickable
						i.icon-circle-arrow-right.icon-2x
		div.row
			// My list of activities
			.twelve.columns.mobile-four
				div.listHeader
					| Items Paying For:
		div.row
			ul.block-grid.two-up.mobile
				li(ng-repeat="list in [{item:'Fish',brand:'NA',amount:'$10',period:'Feb 2013'},{item:'Chicken',brand:'NA',amount:'$5',period:'Feb 2013'}]")
					div.list-container
						a(href="#")
							div.row
								div.mobile-two.columns.six
									h5
										small
											| {{list.brand}}
									h4
										| {{list.item}} 
										small
											i.icon-search
									h5
										small
											| {{list.period}}
								div.mobile-one.columns.three
									.pay-actions
										center
											h2
												| {{list.amount}}

								div.mobile-one.columns.three
									.pay-actions
										center
											i.icon-remove.icon-2x
											h5
												small
													| Remove