header
	a.header-button.icon.menu(href="javascript:void(0)",ng-click="menuClick()")
		span Menu
	h1#header Transaction History

div.stp-content-frame(ng-init="getTransactionDetails()")
	div.stp-content-body
		include alertBox
		div.row.dashboard
			.six.columns.mobile-two
				.header
					h3
						| Payment To:
				.well.single-value
					i.icon-user.icon-2x
					h4
						| {{transPayee}}
			.six.columns.mobile-two
				.header
					h3
						| Paid By:
				.well.single-value
					i.icon-user.icon-2x
					h4
						| {{transPayer}}
		div.row
			// My list of activities
			.twelve.columns.mobile-four
				div.listHeader
					| Items Paying For:
		div.row
			ul.block-grid.two-up.mobile
				li(ng-repeat="list in transItems")
					div.list-container
							div.row
								div.mobile-two.columns.six
									h4
										| {{list.name}}
										small
											
									h5
										small
											| Paid on {{list.paidDate}}
								div.mobile-one.columns.three
									.pay-actions
										center
											h2
												| ${{list.amount}}

								div.mobile-one.columns.three
									.pay-actions
										center
											//i.icon-remove.icon-2x
											h4
												small
													| Qty: {{list.qty}} 