.span6
	form
		div.text-with-remove
			input(type="text",id="list-name",name="list-name",ng-model="list.name",class="input-block-level", placeholder="List name...")
			i.icon-remove-circle.clearText(ng-click="clearListName()")