doctype 5
html(ng-app="myApp")
  head
    meta(charset='utf8')
    meta(name="viewport", content="width=device-width")
    base(href='/')
    title Angular Express Seed App
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/css/sidetap.css')
    link(rel='stylesheet/less', type="text/css", href='/css/theme/default/default.less')
    link(rel='stylesheet', href='/css/app.css')
  body(ng-controller='AppCtrl',ng-cloak)
    block body