doctype 5
html(ng-app="myApp")
  head
    meta(charset='utf8')
    meta(name="viewport", content="width=device-width, user=scalable=no")
    base(href='/')
    | <!--[if lt IE 9]
    script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
    | <![endif]-->
    title Shoppal App
    link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    //-link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet/less', href='/css/less/bootstrap.less',media="all")
    link(rel='stylesheet', href='/css/foundation-grid.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/sidetap.css')
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet/less', type="text/css", href='/css/default.less')
  body(ng-controller='AppCtrl',ng-cloak)
    block body